@model HeroViewModel
@{
    ViewData["Title"] = "Hero View Data";
}

<h2>Form Add Hero</h2>

<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">Hero Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Hero Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Role">Hero Role</label>
        <input asp-for="Role" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Power">Hero Power</label>
        <input asp-for="Power" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
