@model InventoryViewModel
@{
    ViewData["Title"] = "Inventory Edit Data";
}

<h2>Form Edit Inventory</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Inventory Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Inventory Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Procecor">Inventory Procecor</label>
        <input asp-for="Procecor" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Tahun">Keluaran Tahun</label>
        <input asp-for="Tahun" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}