@model NinjaViewModel
@{
    ViewData["Title"] = "Ninja View Data";
}

<h2>Form Add Ninja</h2>

<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">Ninja Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Ninja Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Color">Ninja Color</label>
        <input asp-for="Color" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Power">Ninja Power</label>
        <input asp-for="Power" class="form-control">
    </div>
     
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
